@page "/ArticleStatistics"
@using ArtigosCientificosMvc.Models.Article
@using ArtigosCientificosMvc.Service.Home
@inject IHomeService homeService
@rendermode InteractiveServer

<h1 class="text-center my-5 display-4 fw-bold text-primary">Article Statistics</h1>

@if (statistics == null)
{
	<p>Loading statistics...</p>
}
else
{
	<div class="container">
		<p><strong>Total Articles:</strong> @statistics.TotalArticles</p>
		<p><strong>Total Views:</strong> @statistics.TotalViews</p>
		<p><strong>Total Downloads:</strong> @statistics.TotalDownloads</p>
		<p><strong>Most Viewed Category:</strong> @statistics.MostViewedCategory (@statistics.MostViewedCategoryCount views)</p>
	</div>

}

@code {
    private ArtigosCientificosMvc.Models.Article.ArticleStatistics statistics = new ArtigosCientificosMvc.Models.Article.ArticleStatistics();
    private bool isInitialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            statistics = await homeService.GetArticleStatistics();    
            isInitialized = true;
            StateHasChanged();
        }
    }
}



