@page "/register"
@using ArtigosCientificosMvc.Service.Register
@rendermode InteractiveServer
@inject IRegisterService registerService
@inject NavigationManager Navigation

<PageTitle>Register</PageTitle>

<div>
	<div>
		<h2>Register</h2>

		<EditForm Model="@userDTO" OnValidSubmit="@OnRegister" FormName="Register">
			<DataAnnotationsValidator />

			<div class="form-group m-3">
				<label for="username">Username: </label>
				<InputText id="username" @bind-Value="@userDTO.Username"></InputText>
				<ValidationMessage For="@(() => userDTO.Username)" />
			</div>

			<div class="form-group m-3">
				<label for="password">Email: </label>
				<InputText id="email" @bind-Value="@userDTO.Email"></InputText>
				<ValidationMessage For="@(() => userDTO.Email)" />
			</div>

			<div class="form-group m-3">
				<label for="password">Password: </label>
				<InputText id="password"
						   @bind-Value="@userDTO.Password"
						   type="@passwordInputType" />
				<ValidationMessage For="@(() => userDTO.Password)" />
			</div>

			<div class="form-group m-3">
				<label for="confirmPassword">Confirm Password: </label>
				<InputText id="confirmPassword"
						   @bind-Value="@userDTO.ConfirmPassword"
						   type="@passwordInputType" />
				<button type="button" @onclick="TogglePasswordVisibility">Show/Hide</button>
				<ValidationMessage For="@(() => userDTO.ConfirmPassword)" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</EditForm>

		<div>
			Already have an account?
			<a href="/Login">Sign in</a>
		</div>
	</div>

	@if (!string.IsNullOrEmpty(ErrorMessage))
	{
		<div class="alert alert-danger" role="alert">
			@ErrorMessage
		</div>
	}
</div>


